*{
	outline-color: #333;
}
body {
	background-color: #FCF4E8;
}
p {
	font-family: Sans-Serif, Arial;
}

#info {
	display: flex;
	flex-flow: column;

	margin: 30px auto;
	background-color: #E0D6CC;
	padding: 15px 20px;
	width: 520px;
}

#info > div:not(:last-child) {
	display: flex;
	flex-flow:  row;
	align-items: center;
}

#info > div > p {
	margin-right: 12px;
}

#answers {
	visibility: hidden;
	width: 300px;
	margin: 0px auto;
	margin-top: 30px;
	background-color: #E0D6CC;
	padding: 20px;
	font-family: Sans-Serif, Arial;
}

#answers > article > p{
	display: inline-block;
	font-weight: bold;
}

#answers > article{
	margin-bottom: 7px;
}

#answers > article:last-child{
	margin-bottom: 0px;
}

#counters {
	display: flex;
	flex-direction: row;
	height: 15px;
}
#counters > div{
	height: 15px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	color: #fff;
	border-right: 1px solid #fff;

}

#counters > *:last-child {
	border: none;
}


#graph {
	border: solid 2px #333;
	margin: 0px auto;
	visibility: hidden;
	height: 115px;
	background-color: #fff;
}


#top, #bot{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
}

#top > div > p, #bot > div > p, .taskTCell {
	color: #555;
	background-color: #FFFDF1;
	padding: 5px;
	border: 1px solid #555;

}

#top > div , #bot > div{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#info > *:not(:first-child) {
	margin-top: 7px;
}


input[type=text]{
	padding: 5px;
	border: none;
	background-color: #FCF7F0;
	transition: 0.2s;
	width: 100%;
}

input[type=text]:hover{
	background-color: rgb(199, 194, 188);
}

input[type=text]:focus{
	outline: 0;
	background-color: #FCF7F0;	
}

#calc, #rand, #sizer{
	background-color: #555;
	border: none;
	width: 60%;
	color: #fff;
	padding: 10px 27px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	transition: 0.5s;
}

#calc:focus, #rand:focus, #sizer:focus {
	outline: 0;
}

#rand {
	margin-left: 1%;
	width: 19%;
	background-color: #4A89AA;
}

#sizer {
	background-color: rgb(90, 131, 151);
	margin-left: 1%;
	width: 19%;
}

#rand:hover {
	background-color: #21374B;
}
#calc:hover{
	background-color: #333;
}

#tableResults{
	margin-top: 30px;
	margin-bottom: 30px;
}

table {
	border: 1px solid #333;
	margin: 0px auto;
	text-align: center;
}

th {
	border: 1px solid #333;
	font-weight: bold;
	padding: 5px;
}

td {
	border: 1px solid #333;
	padding: 10px;
}

table > tr > td:nth-child(2n + 1), table > tr > th:nth-child(2n + 1){
	border-right: 2px solid #4A89AA;
}

table > tr > td:last-child,
table > tr > td:first-child,
table > tr > th:last-child,
table > tr > th:first-child{
	border-right: 1px solid #333;
}



#nullCell{
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-left: 1px solid rgba(0, 0, 0, 0);
}


